<form action="" method="get" class="inscription-form"
      fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="15px">

  <div fxLayout="row" fxLayoutGap="15px">
    <div class="inscription-form">
      <label for="lname">Nom:</label>
      <input type="text" name="lname" id="lname" required>
    </div>

    <div class="inscription-form">
      <label for="fname">Prénom:</label>
      <input type="text" name="fname" id="fname" required>
    </div>
  </div>

  <div class="inscription-form">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" required>
  </div>

  <div class="inscription-form">
    <label for="telephone">N° de téléphone: </label>
    <input type="text" name="telephone" id="telephone" required>
  </div>

  <div class="inscription-form">
    <label for="birthday">Date de naissance:</label>
    <input type="date" id="birthday" name="birthday" required>
  </div>

  <div class="inscription-form">
    <input type="submit" value="Valider" (submit)="submit()">
  </div>
</form>
